# Copiază acest fișier ca .env și completează valorile
# Nu pune niciodată .env în Git!

PORT=5000
NODE_ENV=production
FRONTEND_URL=https://idealclean.ro

# Shopify
SHOPIFY_STORE_URL=patrick-store-9747.myshopify.com
SHOPIFY_ACCESS_TOKEN=
SHOPIFY_API_VERSION=2024-04
SHOPIFY_CLIENT_ID=
SHOPIFY_CLIENT_SECRET=

# Securitate
JWT_SECRET=schimba-asta-cu-un-string-random-lung-minim-32-caractere
INITIAL_ADMIN_PASSWORD=schimba-asta-cu-parola-ta-sigura
